.set-header {
    display: flex;

    padding-bottom: 30px;
    .d-flex {
        width: 464px !important;
    }
    .search {
        margin-left: auto;
    }
}

.list-set {
    display: grid;
    gap: 10px;

    .card-content {
        cursor: pointer;
        padding: 10px 20px 0;
        .card-header-text {
            display: flex;
            gap: 10px;
        }
        .card-body-content {
            //display: flex;
            //gap: 10px;
            .card-body-text {
                font-weight: 700;
            }
        }
    }
}
