.profile-container {
    padding: 45px 300px 30px 70px;
    .profile-header {
        padding: 0 0 20px 6px;
        font-size: 35px;
        font-weight: 700;
    }
    .profile-content {
        .header-profile {
            padding-bottom: 20px;
        }
        .profile-main {
        }
    }
}
