.list-member-class {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .member-content-class {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        .member-header-text-class {
            .img-by-member-class {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .member-body-content-class {
            .name-text-group {
                font-size: 10px;
                font-weight: 400;
            }
            .name-text {
                font-weight: 600;
            }
        }
    }
    .btn {
        margin-left: auto;
    }
}
