.list-folder-class {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .folder-content-class {
        padding: 10px 20px;
        cursor: pointer;
        .folder-header-text-class {
        }
        .folder-body-content-class {
        }
        .folder-footer-content-class {
            padding-top: 10px;
            .img-by-user-create {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}
