.doctor-container {
    width: 100%;
    .doctor-header {
    }
    .doctor-main {
        padding: 20px 50px;
        .container-dash-board-doctor {
            padding: 20px 150px;
            .dash-board-doctor-custom {
                display: flex;
                gap: 50px;
                padding-bottom: 40px;
            }
        }
        .medical-record-list-container-manage-custom {
            .medical-record-list-header-manage-custom {
                .title-custom {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    font-weight: 500;
                    padding-bottom: 20px;
                }
            }
        }
    }
}
