.doctor-container {
    width: 100%;
    .doctor-header {
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #2163fe;

        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    .doctor-main {
        padding: 10px 100px;
    }
}
