.admin-container {
    width: 100%;
    .admin-header {
    }
    .admin-main {
        padding: 10px 100px;
        .container-dash-board-admin {
            padding: 40px 200px;
            .dash-board-admin-custom {
                display: flex;
                gap: 50px;
                padding-bottom: 100px;
            }
        }
    }
}
