.profile-container {
    width: 100%;
    //padding: 0px 200px;
    .title-custom {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 500;
    }
    .profile-header {
    }
    .profile-main {
        .outlet-profile-custom {
            .approve-appointment-container-manage-custom {
                .approve-appointment-custom {
                    .tr-approve-appointment-custom {
                        cursor: pointer;
                    }
                }
            }
            .profile-info-custom {
                padding: 0px 50px;
                .profile-title-custom {
                    padding-bottom: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    font-weight: 500;
                }
            }
        }
    }
}
