.list-doctor-container-client-custom {
    margin-right: auto;
    width: 1200px;
    .custom-link-header {
        .custom-link {
            color: aquamarine;
            cursor: pointer;
        }
    }
    .list-doctor-custom-header{
        padding-top: 25px;
        font-size: 20px;
        font-weight: 600;
    }
    .list-doctor-body-client {
        padding-top: 20px;
        .detail-good-doctor-custom {
            display: flex;
            gap: 20px;
            align-items: center;
            padding-bottom: 10px;
            cursor: pointer;
            .image-good-doctor-custom {
                width: 120px;
                height: 120px;
            }
            .info-good-doctor-custom {
                .position-fullname-good-doctor-custom {
                    font-size: 18px;
                    font-weight: 400;
                }
                .specicalties-good-doctor-custom {
                    font-size: 14px;
                }
            }
        }
    }
}
