.manage-medication-list-container-client-custom {
    .title-medication-list-header-manage-custom {
        .title-custom {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-weight: 500;
        }
    }
    .manage-medication-list-body-client {
        padding-top: 20px;
        .manage-detail-medication-custom {
            display: flex;
            gap: 20px;
            flex-direction: column;
            padding-bottom: 10px;
            cursor: pointer;
            .manage-medication-name-custom {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}
.modal-medication {
    .lbl-upload-image {
        padding: 5px;
        border-radius: 3px;
        background: rgb(230, 229, 229);
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
    .preview-img {
        height: 150px;
        width: 150px;
        border: 1px solid royalblue;
        background: center center no-repeat;
        background-size: contain;
    }
}
