.body-header-manage-custom {
    height: 50px;
    background-color: #1fdb4e;
    font-size: 20px;
    font-weight: 500;
    .custom-collapse-manage {
        padding: 0px 135px;
        .dropdown-toggle::after {
            display: none !important;
        }
        .custom-header-mamage {
            margin-left: auto;
            .nav-link-custom {
                cursor: pointer;
            }
            .dropdown-menu[data-bs-popper] {
                left: auto;
                right: 0;
            }
            .dropdown-toggle::after {
                display: none !important;
            }
        }
    }
}
