.medical-staff-info-container-custom {
    .label-title-custom {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 500;
    }
    .medical-staff-info-header-custom {
        display: flex;
        .div-img-info-custom {
            max-width: 200px;
            .card-img-top {
                width: 200px;
                height: 200px;
            }
        }
        .medical-staff-info-body-custom {
            padding-left: 50px;
        }
    }
}

.modal-update-user {
    .div-specialty-custom {
       
    }
    .lbl-upload-image {
        padding: 5px;
        border-radius: 3px;
        background: rgb(230, 229, 229);
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
    .preview-img {
        height: 150px;
        width: 150px;
        border: 1px solid royalblue;
        background: center center no-repeat;
        background-size: contain;
    }

    textarea.form-control {
        height: 150px;
    }
}
