.schedule-container {
    display: flex;
    .custom-schedule {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 50%;
    }
    .custom-extra {
        display: flex;
        flex-direction: column;
    }
}
