.specialty-list-container-client-custom {
    .custom-link-header {
        .custom-link {
            color: aquamarine;
            cursor: pointer;
        }
    }
    .specialty-list-body-client {
        padding-top: 20px;
        .detail-specialty-custom {
            display: flex;
            gap: 20px;
            align-items: center;
            padding-bottom: 10px;
            cursor: pointer;
            .image-specialty-custom {
                width: 190px;
                height: 130px;
            }
            .info-specialty-custom{
                .specialty-name-custom{
                    font-size: 19px;
                    font-weight: 400;
                }
            }
        }
    }
}