body {
    padding: 0px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1500px !important;
    }
}

.app-container {
    .app-header-container {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        .body-header-custom {
            padding: 10px 145px;
            z-index: 10;
            background-color: rgb(233, 252, 240) !important;
            .custom-icon-header {
                width: 45px;
                padding-right: 2px;
            }
            .header-custom {
                color: #ffb516;
                font-size: 26px;
                font-weight: 700;
                justify-content: center;
                padding-right: 20px;
            }
            .custom-collapse {
                display: flex;
                align-items: center;
                gap: 55px;
                .me-auto1 {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .nav-link {
                        font-size: 18px;
                        color: black !important;
                    }
                }
                .me-auto2 {
                    padding-left: auto;
                    .nav-link {
                        font-size: 18px;
                        font-weight: 500;
                        color: #5ee0dc !important;
                    }
                    .quick-check-up-custom {
                        cursor: pointer;
                    }
                    .dropdown-menu[data-bs-popper] {
                        left: auto;
                        right: 0;
                    }

                    .dropdown-toggle::after {
                        display: none !important;
                    }
                }
                .custom-search {
                    padding-left: 40px;
                    .me-2 {
                        border-radius: 20px;
                    }
                    width: 300px !important;
                }
            }
        }
    }
    .app-body-container {
        .app-main {
            padding: 80px 160px;
        }
    }
    // .app-footer-container {
    //     position: fixed;
    //     bottom: 0;
    //     width: 100%;
    // }
}
