body {
    padding: 0px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1500px !important;
    }
}

.app-container {
    .app-header-container {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: rgb(233, 252, 240) !important;
        .body-header-custom {
            display: flex;
            width: 1247px;
            align-items: center;
            margin: 0 auto;
            padding: 5px;
            .custom-collapse {
                display: flex;
                align-items: center;
                gap: 20px;
                .me-auto-header {
                    display: flex;
                    align-items: center;
                    // .custom-icon-header {
                    //     width: 40px;
                    //     padding-right: 2px;
                    // }
                    .header-custom {
                        color: #ffb516;
                        font-size: 25px;
                        font-weight: 700;
                        justify-content: center;
                        padding-right: 20px;
                    }
                }
                .me-auto-center {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .nav-link {
                        font-size: 20px;
                        //font-weight: 500;
                        color: black !important;
                    }
                    .custom-search {
                        padding-left: 40px;
                        .me-2 {
                            border-radius: 20px;
                        }
                        width: 300px !important;
                    }
                }
                .me-auto-end {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    .nav-link {
                        font-size: 20px;
                        font-weight: 500;
                        color: #5ee0dc !important;
                    }
                    .quick-check-up-custom {
                        cursor: pointer;
                    }
                    .dropdown-menu[data-bs-popper] {
                        left: auto;
                        right: 0;
                    }

                    .dropdown-toggle::after {
                        display: none !important;
                    }
                }
            }
        }
    }
    .app-body-container {
        .app-main {
            padding: 90px 0px;
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            align-items: center;
            height: 100%;
            margin: 0 auto;
        }
    }
    // .app-footer-container {
    //     position: fixed;
    //     bottom: 0;
    //     width: 100%;
    // }
}
