.root-login {
    background-color: rgb(242, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the root container takes up the full viewport height */
    width: 100%; /* Ensure the root container takes up the full viewport width */
    overflow: hidden; /* Prevent overflow issues */
}

.login-container { 
    .login-body {
        border-radius: 8px;
        background-color: rgb(255, 255, 255) !important;
        .back-login {
            display: flex;
            font-size: 25px;
            cursor: pointer;
        }
        .header-custom-login {
            display: flex;
            .hospital-header-login {
                font-size: 1.8em;
                font-weight: 600;
            }
            .name-hospital-header-login {
                font-size: 1.2em;
                font-weight: 500;
            }
        }

        .action-choose {
            display: flex;
            align-items: center;
            .forgot-password {
                cursor: pointer;
                text-decoration: underline;
            }
            padding-top: 10px;
            .btn-register-custom {
                cursor: pointer;
                text-decoration: underline;
                margin-left: auto;
            }
        }
        .custom-login-with-google {
            display: flex;
            justify-content: center;
        }
        .login-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            padding-top: 20px;
            button {
                width: 100%;
                height: 40px;
            }

            .password-custom {
                position: relative;
                .icons-eye {
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }
        }
    }
}
